@import "navbar";
@import "../node_modules/simplycountdown.js/css/scss/simplyCountdown.theme.default.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

$brand-primary: #768dbf !default;
$brand-white: #fff;


.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 175vw;
  overflow: hidden;
  background-color: #f0f0f0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw; /* Use viewport width for image width */
    height: 100vh; /* Use viewport height for image height */
    object-fit: cover; /* Crop and zoom the image */
    max-height: 175vw;
  }
}

// COUNTDOWN CUSTOM
.simply-countdown {
  /* The countdown */
  margin-bottom: 2em;
}
.simply-countdown > .simply-section {
  display: flex;
  width: 100px;
  height: 100px;
  background: rgba($brand-primary,.8);
  margin: 0 4px;
  max-height: 23vw;
  max-width: 23vw;
  border-radius: 50%;
  position: relative;
  animation: pulse 1s ease infinite;
  flex-direction:column;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.simply-countdown > .simply-section > div {
  /* countdown block inner div */
  display: table-cell;
  vertical-align: middle;
  height: 100px;
  width: 100px;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  color: rgba($brand-white,1);
  /* amounts and words */
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 30px;
  /* amounts */
}

.simply-countdown > .simply-section .simply-word {
  color: rgba($brand-white,.7);
  text-transform: uppercase;
  font-size: 12px;
  /* words */
}

.event-wrap{
  border: 2px solid rgba($brand-white,.5);
  background:rgba($brand-white,.1);
  padding: 30px;
  width: 100%;
  float: left;
  border-radius: 4px;

  h3{
    font-size: 20px;
    color: $brand-white;
    border-bottom: 1px solid rgba($brand-white,.5);
    display: block;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  p,span{
    display: block;
    color: rgba($brand-white,.8);
  }
  i{
    color: rgba($brand-white,1);
    font-size: 20px;
  }
  .event-col{
    width: 50%;
    float: left;
    margin-bottom: 30px;
  }
}

#events, #gifts{
  background: rgb(118, 141, 191);
  background: linear-gradient(180deg, #657fb7 0%, #99aacf 100%);
  padding: 7em 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, figure {
  color: #000;
  font-family: "Bodoni Moda", serif, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.heading {
  font-family: "Pinyon Script", Arial, serif;
  font-size: 60px;
  color:white;
}

.date {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 600;
}

.rsvpForm {
  color:black;
}

.ff-success {
  + div button.btn {
    display: none;
  }
}

* {
  scroll-padding-top: 75px !important;
}